{
  "extends": [
    "plugin:shopify/core",
    "plugin:shopify/node",
    "plugin:shopify/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5"
      }
    ]
  }
}
