window.theme = window.theme || {};

//=require vendor/jquery-2.2.3.min.js
//=require vendor/modernizr.min.js

//=require slate/_a11y.js
//=require slate/_currency.js
//=require slate/_forms.js
//=require slate/_images.js
//=require slate/_product.js
//=require slate/_video.js

//=require _strings.js.liquid

$(document).ready(function () {

  // Include Template Scripts
  //----------------------------------------------------------------------------
  //=require templates/customer-addresses.js
  //=require templates/gift-card.js
  //=require templates/passwords.js
  //=require templates/product.js

  // Custom Theme Scripts
  // ---------------------------------------------------------------------------

  // Common a11y fixes
  slate.a11y.pageLinkFocus($(window.location.hash));

  $('.in-page-link').on('click', function (evt) {
    slate.a11y.pageLinkFocus($(evt.currentTarget.hash));
  });

  // Override defaults in theme.strings with potential template overrides
  window.productStrings = window.productStrings || {};
  $.extend(theme.strings, window.productStrings);

  // Wrap tables in the RTE with a scrollable div so they cannot break the
  // layout if too wide.
  $('.rte table').wrap('<div class="rte__table-wrapper"></div>');

  //Wrap videos in div to force responsive layout.
  slate.iframes.iframeReset();
});
