{% comment %}
  If a valid comment is submitted, 1 is added to the number_of_comments even if awaiting moderation.

  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article itemscope itemtype="http://schema.org/Article">

  {% include 'article__content' %}

  {% if blog.comments_enabled? %}
    <h3>{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>

    {% paginate article.comments by 5 %}
      <div id="comments">

        {% if comment and comment.created_at %}
          <p class="form-success">
            {% if blog.moderated? %}
              {{ 'blogs.comments.success_moderated' | t }}
            {% else %}
              {{ 'blogs.comments.success' | t }}
            {% endif %}
          </p>
        {% endif %}

        {% if number_of_comments > 0 %}
          {% include 'article__comments-list' %}

          {% include '__pagination' %}
        {% endif %}

        {% include 'article__comments-form' %}

      </div>
    {% endpaginate %}
  {% endif %}

</article>
