{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<h1>{{ page_title }}</h1>

{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% include '__collection' %}
  {% endunless %}
{% endfor %}
