{% paginate search.results by 10 %}

  {% if search.performed %}
    {% if search.results_count == 0 %}
      <h1>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
    {% else %}
      <h1>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
    {% endif %}
  {% else %}
    <h1>{{ 'general.search.title' | t }}</h1>
  {% endif %}

  {% include '__search' %}

  {% if search.performed %}
    {% for item in search.results %}
      {% include 'search__result' %}
    {% endfor %}

    {% include '__pagination' %}

  {% endif %}

{% endpaginate %}
