{% paginate search.results by 10 %}

  <h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  {% include '__search' %}

  {% if search.performed %}
    <ul>
    {% for item in search.results %}
      <li>
        {% include 'search__result' %}
      </li>
    {% endfor %}
    </ul>

    {% include '__pagination' %}
  {% endif %}

{% endpaginate %}
