<li id="{{ comment.id }}">
  <div class="rte">
    {{ comment.content }}
  </div>
  <div>
    {% include '__date', date_time: comment.created_at %}
    {{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}
  </div>
</li>
