<form action="/search" method="get" role="search">
  <label for="Search" class="label-hidden">
    {{ 'general.search.placeholder' | t }}
  </label>
  <input type="search"
    name="q"
    id="Search"
    value="{{ search.terms | escape }}"
    placeholder="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="btn">
    {% include 'icon-search' %}
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>
