{%- assign page_previous = 'general.pagination.previous' | t -%}
{%- assign page_next = 'general.pagination.next' | t -%}
<div class="pagination">
  {{ paginate | default_pagination: next: page_next, previous: page_previous }}
</div>
