.about-author {
  @include clearfix();
  margin-bottom: em(20);

  + .about-author {
    padding-top: em($gutter);
    border-top: $border-grey;
  }
}

.about-author__image {
  float: left;
}

.about-author__content {
  margin-left: em(90 + 20); // Image width plus 20px gutter
}
