// Sidebar / section heading for content marketing
// Contains a tiny icon and h5 style heading

.heading-icon {
  margin-bottom: em(20);

  > .icon {
    width: 16px;
    height: 21px; // matches line height of heading
    vertical-align: top;
    margin-right: em(10);
  }
}
