@charset 'UTF-8';

/* ============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
============================================================================== */

/* ================ UTILS ================ */
@import './tools/mixins';

/* ================ SETTINGS ================ */
@import './settings/variables';

/* ================ COMMON ================ */
@import './global/normalize';
@import './global/slate-reset';
@import './global/helper-classes';

// @import url('global/grid.scss');
@import './global/layout';
@import './global/icons';
@import './global/rte';
@import './global/responsive-tables';
@import './global/links-buttons';
@import './global/forms';
@import './global/blank-states';

/* ================ MODULES ================ */
@import './modules/site-header';
@import './modules/gift-card-template';
