// one-off exception to 8-column grid, not to be abused!
.signup-grid-3 {
  @include shopify-breakpoint($tablet-up) {
    @include span-columns(3 of 12);
  }
}

.signup-modal__content {
  width: 100%;

  @include shopify-breakpoint($desktop-up) {
    max-width: 50%;
    margin: 0 auto;
  }

  .marketing-form__button {
    float: right;
  }
}

body > .signup--hidden {
  display: none;
}

.subdomain {
  position: relative;
}
