/*================ Giftcard Template ================*/
.giftcard__qr-code {
  img {
    margin: 0 auto;
  }
}

.giftcard__apple-wallet-image {
  display: block;
  margin: 0 auto;
}

.giftcard__wrap {
  margin: 0 auto $gutter;
}

/*================ Print Giftcard Styles ================*/
@media print {
  @page {
    margin: 0.5cm;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  html,
  body {
    background-color: $color-body;
    color: $color-body-text;
  }

  .giftcard__print-link,
  .giftcard__apple-wallet {
    display: none;
  }
}
