/*================ #Links and Buttons ================*/
.btn,
.rte .btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  @include user-select();
  @include prefix(appearance, none, webkit moz spec);

  // Set primary button colors - can override later
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
}

.btn--secondary,
.rte .btn--secondary {
  @extend .btn;
  background-color: $color-btn-secondary;
  color: $color-btn-secondary-text;
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}
