/*================ #Rich Text Editor ================*/

// allow table to scroll for tables in the RTE since we don't know
// how many columns they will contain. Class added by JS.
.rte__table-wrapper {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.rte {
  img {
    height: auto;
  }

  table {
    table-layout: fixed;
  }
}

.text-center.rte,
.text-center .rte {
  ul,
  ol {
    margin-left: 0;
    list-style-position: inside;
  }
}

.rte {
  ul,
  ol {
    margin: 0 0 ($gutter-site / 2) $gutter-site;
  }

  ul {
    list-style: disc outside;

    ul {
      list-style: circle outside;

      ul {
        list-style: square outside;
      }
    }
  }
}
