/*================ #Site Nav and Dropdowns ================*/
.site-header__logo {
  img {
    display: block;
    max-width: $logo-max-width;
  }
}

.site-nav {

  li {
    display: inline-block;
  }
}

/*================ Site Nav Links ================*/
.site-nav__link {
  display: block;
  white-space: nowrap;

  .icon-arrow-down {
    width: 10px;
    height: 10px;
  }
}

/*================ Dropdowns ================*/
.site-nav--has-dropdown {
  position: relative;
}

.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: $z-index-dropdown;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  li {
    display: block;
  }
}
