.breadcrumbs {
  border-bottom: $border-grey;
  margin-bottom: em($gutter / 2);
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  color: inherit;
}

.icon-caret-right {
  background-image: asset-svg-url(caret-right, $color-grey-text--light);
}

.breadcrumbs__separator {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  vertical-align: middle;

  .breadcrumbs__item:last-child & {
    display: none;
  }
}
