.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center--mobile {
  @include shopify-breakpoint($mobile) {
    text-align: center;
  }
}
