.page-block {
  padding: $gutter 0;
}

@include shopify-breakpoint($desktop-up) {
  .site-content {
    min-height: 100%;

    // Border between main content and sidebar
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -3.72%;
      width: 1px;
      height: 100%;
      background: $color-grey-border-on--white;
    }
  }

  .site-sidebar {
    padding-left: $gutter;
    overflow: hidden;
  }
}
