// Override content typography settings to make the signup heading not look
// like junk
.marketing-form--inline__heading {
  @extend .heading--3;
  margin-bottom: $gutter;
}

.modal-container {
  .modal__heading {
    font-size: em(24);
    font-weight: $font-weight-medium;
    line-height: inherit;
    margin-bottom: em($gutter-half);
  }

  .modal {
    max-width: 990px;
  }
}
