<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
