.heading {
  color: var(--headings_color);
  background-color: '#FF00FF';
  letter-spacing: var(--letter_spacing);
}

.title {
  color: var(--headings_color);
  font-weight: var(--font-body-bold-weight);
}

body {
  background-color: var(--body_color);
}