// Total columns on desktop and tablet
$grid-columns: 10;

// Page container width, and breakpoint settings
$tablet: 760px;

// Special measurements
$grid-extendor: 120px;
$column--tablet: 43px; // 43 * 10 + gutters = 760px
