/*================ #Password Template ================*/
.icon-shopify-logo {
  width: 1.5 * $font-size-base * 120 / 35;
  height: 1.5 * $font-size-base;
  vertical-align: middle;
  fill: currentColor;
}

.icon-lock {
  width: 16px;
  height: 16px;
}
