$search-input-height: 38px;

.search-form {
  position: relative;
  margin-bottom: $gutter;
}

.search-form__input {
  font-family: $font-body-family;
  height: $search-input-height;
  font-size: em(14);
  border-radius: $search-input-height / 2;
  padding: 0 16px 0 40px;
}

.search-form__submit {
  position: absolute;
  top: ($search-input-height - 16) / 2;
  left: 16px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: asset-svg-url(search, $color-green);
}
