/*============================================================================
  #Site Nav
==============================================================================*/
.site-header__logo {
  display: block;

  img {
    display: block;
    max-width: $logo-max-width;
  }
}
