/*================ Form helpers ================*/
form {
  margin: 0;
}

// Prevent zoom on touch devices in active inputs
@include media-query($medium-down) {
  input,
  textarea,
  select {
    font-size: 16px;
  }
}

button,
input[type="submit"],
label[for] {
  cursor: pointer;
}

optgroup {
  font-weight: $font-weight-bold;
}

// Force option color (affects IE only)
option {
  color: $color-body-text;
  background-color: $color-body;
}
