/** Syntax highlighting styles */
.highlight .c, .highlight .com, .prettyprint .c, .prettyprint .com { color: #998; font-style: italic; }
.highlight .k, .prettyprint .k { font-weight: bold; }
.highlight .o, .prettyprint .o { font-weight: bold; }
.highlight .cm, .prettyprint .cm { color: #998; font-style: italic; }
.highlight .cp, .prettyprint .cp { color: #999; font-weight: bold; }
.highlight .c1, .prettyprint .c1 { color: #998; font-style: italic; }
.highlight .cs, .prettyprint .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd, .prettyprint .gd { color: #000; background-color: #fdd; }
.highlight .gd .x, .prettyprint .gd .x { color: #000; background-color: #faa; }
.highlight .ge, .prettyprint .ge { font-style: italic; }
.highlight .gr, .prettyprint .gr { color: #a00; }
.highlight .gh, .prettyprint .gh { color: #999; }
.highlight .gi, .prettyprint .gi { color: #000; background-color: #dfd; }
.highlight .gi .x, .prettyprint .gi .x { color: #000; background-color: #afa; }
.highlight .go, .prettyprint .go { color: #888; }
.highlight .gp, .prettyprint .gp { color: #555; }
.highlight .gs, .prettyprint .gs { font-weight: bold; }
.highlight .gu, .prettyprint .gu { color: #aaa; }
.highlight .gt, .prettyprint .gt { color: #a00; }
.highlight .kc, .prettyprint .kc { font-weight: bold; }
.highlight .kd, .highlight .kwd, .prettyprint .kd, .prettyprint .kwd { font-weight: bold; }
.highlight .kp, .prettyprint .kp { font-weight: bold; }
.highlight .kr, .prettyprint .kr { font-weight: bold; }
.highlight .kt, .prettyprint .kt { color: #458; font-weight: bold; }
.highlight .m, .prettyprint .m { color: #099; }
.highlight .s, .prettyprint .s { color: #d14; }
.highlight .na, .prettyprint .na { color: #008080; }
.highlight .nb, .prettyprint .nb { color: #0086B3; }
.highlight .nc, .prettyprint .nc { color: #458; font-weight: bold; }
.highlight .no, .prettyprint .no { color: #008080; }
.highlight .ni, .prettyprint .ni { color: #800080; }
.highlight .ne, .prettyprint .ne { color: #900; font-weight: bold; }
.highlight .nf, .prettyprint .nf { color: #900; font-weight: bold; }
.highlight .nn, .prettyprint .nn { color: #555; }
.highlight .nt, .prettyprint .nt { color: #000080; }
.highlight .nv, .prettyprint .nv { color: #008080; }
.highlight .ow, .prettyprint .ow { font-weight: bold; }
.highlight .w, .prettyprint .w { color: #bbb; }
.highlight .mf, .prettyprint .mf { color: #099; }
.highlight .mh, .prettyprint .mh { color: #099; }
.highlight .mi, .highlight .lit, .prettyprint .mi, .prettyprint .lit { color: #099; }
.highlight .mo, .prettyprint .mo { color: #099; }
.highlight .sb, .prettyprint .sb { color: #d14; }
.highlight .sc, .prettyprint .sc { color: #d14; }
.highlight .sd, .prettyprint .sd { color: #d14; }
.highlight .s2, .prettyprint .s2 { color: #d14; }
.highlight .se, .prettyprint .se { color: #d14; }
.highlight .sh, .prettyprint .sh { color: #d14; }
.highlight .si, .prettyprint .si { color: #d14; }
.highlight .sx, .prettyprint .sx { color: #d14; }
.highlight .sr, .prettyprint .sr { color: #009926; }
.highlight .s1, .highlight .str, .prettyprint .s1, .prettyprint .str { color: #d14; }
.highlight .ss, .prettyprint .ss { color: #990073; }
.highlight .bp, .prettyprint .bp { color: #999; }
.highlight .vc, .prettyprint .vc { color: #008080; }
.highlight .vg, .prettyprint .vg { color: #008080; }
.highlight .vi, .prettyprint .vi { color: #008080; }
.highlight .il, .prettyprint .il { color: #099; }

/*============================================================================ Colors
==============================================================================*/
/*================ Text ================*/
/*============================================================================ Backgrounds
==============================================================================*/
/*================ Forms ================*/
/*================ Icon colours ================*/
/*================ Nav colors ================*/
/*============================================================================ Font Weights
==============================================================================*/
/*============================================================================ Font Families
==============================================================================*/
/*============================================================================ Headings
==============================================================================*/
/*============================================================================ Global Components - vars that are handy across the site
==============================================================================*/
/*================ Z Index ================*/
/*================ Nav ================*/
/*================ Forms ================*/
/*================ Borders ================*/
/*================ Shopify logo ================*/
/*============================================================================ Grid Requirements: 8 column grid with 2 columns on either side as optional extended grid area only visible on larger screens Configurable (ie through something similar to this file) Different grid per breakpoint, ideally defined in isolation inside the breakpoint for minimal CSS undo-ing (ie. don't have to undo mobile styles once on desktop, vice versa) Supports a mobile-first dev approach, with fallback for IE8 Nestable Flexible for how containers react across breakpoints. Same container may collapse in different ways on different pages
==============================================================================*/
/*============================================================================ Grid Measurements
==============================================================================*/
/*============================================================================ Global Mixins used within page-specific and application stylesheets
==============================================================================*/
/*============================================================================
-Background colours
-==============================================================================*/
/*============================================================================
Borders
==============================================================================*/
/*============================================================================ Col Generators
==============================================================================*/
html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/*============================================================================ Breakpoints - Set in em to cover browser font-size adjustments
==============================================================================*/
body { background: white; font-size: 15px; }

body, .marketing-markdown { color: #4E5665; }

.marketing-markdown { max-width: 900px; }

h1 { font-weight: 700; margin-bottom: 33px; }

.marketing-markdown h2, h2 { margin-top: 40px; margin-bottom: 33px; font-weight: 400; }

.body-link, main p > a, main .marketing-markdown > a, .marketing-markdown a:not(.marketing-button):not(.marketing-nav__button) { color: #368aa9; border-bottom: 0; }

blockquote, .marketing-markdown blockquote, pre, pre.code, pre.prettyprint { margin-left: 0; margin-right: 0; background: #F9FAFA; padding: 25px; font-size: 1em; line-height: 1.7; font-weight: normal; }
blockquote p:last-child, .marketing-markdown blockquote p:last-child, pre p:last-child, pre.code p:last-child, pre.prettyprint p:last-child { margin-bottom: 0; }
blockquote:before, blockquote:after, .marketing-markdown blockquote:before, .marketing-markdown blockquote:after, pre:before, pre:after, pre.code:before, pre.code:after, pre.prettyprint:before, pre.prettyprint:after { display: none; }

code, kbd, samp, pre, pre.code, pre.prettyprint, .pln { font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace; font-size: 13px; color: #5C5C5C; }

blockquote, .marketing-markdown blockquote { border-left: 3px solid #798C9C; color: #444444; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.page-header { padding: 0; text-align: left; }

.docs-header .npm-logo { height: 14px; }

.docs-sidebar { background: #30373b; font-size: 18px; }

.site-title:hover { text-decoration: none; }

.docs-title { font-weight: 300; }
@media screen and (min-width: 61.875em) { .docs-title { margin-bottom: 40px; } }
.docs-title a { color: #fff; }

.docs-nav li { margin-bottom: 20px; }

.docs-nav__link, .docs-sub-nav__link { color: #a9a9a9; font-family: "Brandon", Helvetica, Arial, sans-serif; font-weight: 500; -webkit-font-smoothing: antialiased; }
.docs-nav__link.active, .docs-sub-nav__link.active { color: white; }

.docs-sub-nav { border-left: 3px solid #a9a9a9; padding-left: 10px; font-size: 13px; margin-top: 10px; margin-left: 5px; display: none; }
.docs-sub-nav li { margin-bottom: 13px; }
.active ~ .docs-sub-nav { display: block; }

.docs-shopify-logo a { color: #a9a9a9; }

.docs-header { border-bottom: 1px solid #d3dbe2; padding-top: 15px; margin-bottom: 70px; font-size: 13px; }
.docs-header a { color: #A0A0A0; }
.docs-header img { height: 18px; padding-right: 5px; opacity: 0.8; }
.docs-header li { display: inline-block; padding-right: 30px; }

#options-form { margin-bottom: 30px; }

.marketing-markdown li ul { margin-top: 10px; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; border: 1px solid #ddd; background-color: transparent; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
table * { border: none; background: none; }
table th { border-bottom: 1px solid #ddd; background-color: #f9f9f9; }
table th, table td { padding: 8px 15px; }

@media screen and (max-width: 61.8125em) { table, thead, tbody, th, td, tr { display: block; font-size: 12px; }
  thead tr { position: absolute; top: -9999px; left: -9999px; }
  tr { border: 1px solid #ccc; }
  table td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
  td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; }
  td:nth-of-type(1):before { content: "Internet Explorer"; }
  td:nth-of-type(2):before { content: "Chrome, Edge, Firefox"; }
  td:nth-of-type(3):before { content: "Safari"; }
  td:nth-of-type(4):before { content: "Opera"; }
  td:nth-of-type(5):before { content: "iOS"; }
  td:nth-of-type(6):before { content: "Android"; } }
.copy-button { padding: 3px 12px 5px; font-size: 1em; width: 100%; position: relative; top: -13px; background: #ccc; border-radius: 0 0 3px 3px; }

.u-alignRight { text-align: right; }

body { display: flex; min-height: 100vh; flex-direction: column; }

table { margin-bottom: 20px; }

main { margin-left: 0; margin-right: 0; max-width: none; min-height: 100vh; }

.docs-container { padding: 0; }
@media screen and (min-width: 61.875em) { .docs-container { overflow: hidden; min-height: 600px; } }

@media screen and (max-width: 61.8125em) { .docs-sidebar { padding: 60px 30px 15px; } }
@media screen and (min-width: 61.875em) { .docs-sidebar { min-height: 100%; width: 300px; padding: 60px 40px 0; position: fixed; top: 0; left: 0; bottom: 0; padding-bottom: 120px; overflow: auto; } }

.docs-main { padding: 0 30px; }
@media screen and (min-width: 61.875em) { .docs-main { float: left; padding: 0 45px; width: calc(100% - 300px); margin-left: 300px; } }

.docs-shopify-logo img { margin-bottom: 10px; max-width: 100px; }
@media screen and (max-width: 61.8125em) { .docs-shopify-logo { background: #232323; position: absolute; top: 0; left: 0; width: 100%; padding: 8px 30px; }
  .docs-shopify-logo img { margin-bottom: 0; max-width: 80px; }
  .docs-shopify-logo p { display: none; } }
@media screen and (min-width: 61.875em) { .docs-shopify-logo { position: fixed; left: 40px; bottom: 0; width: 220px; background: #30373b; padding-top: 20px; padding-bottom: 40px; } }
.docs-shopify-logo p { margin-bottom: 0; font-size: 13px; font-weight: 500; text-decoration: underline; }

@media screen and (min-width: 61.875em) { .apidocs-container { position: relative; } }

@media screen and (min-width: 61.875em) { .apidocs__sidebar { width: 200px; position: absolute; right: 0; top: 0; } }

@media screen and (min-width: 61.875em) { .apidocs { max-width: calc(100% - 200px); padding-right: 30px; } }

.demo-iframe { position: relative; margin: 40px 0; }
.demo-iframe:before { content: "Demo"; position: absolute; top: -10px; left: 10px; padding: 0 10px; background-color: white; }
.demo-iframe iframe { margin: 0; border: 1px solid #e5e5e5; transition: width 0.2s ease-in-out; }

.demo-iframe--mobile { width: 320px; }

.demo-iframe__toggles { position: absolute; top: -10px; right: 20px; padding: 0 10px; background-color: white; }
.demo-iframe__toggles .iframe-toggle + .iframe-toggle { margin-left: 5px; }
.demo-iframe__toggles img { width: 20px; height: 20px; padding: 0; margin: 0; }

.demo-image { box-shadow: 0 0 15px 5px #eee; }

.demo-image.demo-image--app { margin-bottom: 0; }

pre { overflow-x: auto; }

pre.code, pre.prettyprint { border: 0; }

.apidocs__sidebar { border-left: 1px solid #d3dbe2; padding-left: 15px; }
.apidocs__sidebar h2 { margin-top: 0; margin-bottom: 10px; font-size: 16px; font-weight: 700; text-transform: uppercase; color: #30373b; }
.apidocs__sidebar ul { padding-left: 0; list-style: none; }
.apidocs__sidebar ul > li { padding-left: 0; }

.apidocs .meta { font-size: 13px; }
.apidocs .item .method-signature { display: inline-block; }
.apidocs .item .method-signature .name { font-weight: bold; color: #368aa9; font-size: 18px; }
.apidocs .item .type { font-size: 13px; }
.apidocs .item .returns h4 { font-weight: bold; }
.apidocs .item .returns-description p { display: inline-block; }
